openmetadata-docker/docker-volume/
command.sh
# Ignore all contents in these directories...
schemacrawler/json/*
schemacrawler/dbml/*
# ...except for the .gitkeep files
!schemacrawler/json/.gitkeep
!schemacrawler/dbml/.gitkeep